<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Jobs!</title>
    <link rel="stylesheet" href="/static/css/style.css">

</head>
<body>
    <h1>Jobs!</h1>

    <div id="content"></div>

    <p>These are here just to let you test the back-end application
    they should not stay in the final application.</p>
    <p><a href="/positions">Positions as JSON</a></p>
    <p><a href="/applications">Current Applications as JSON</a></p>

    <p>Sample form for job application, use this as you see fit for
    the final application.</p>
    <form action="/apply" method="POST">
        <input name="first_name" placeholder="first name">
        <input name="last_name" placeholder="last name">
        <input name="position_id" placeholder="position id">
        <input name="years_experience" placeholder="years experience">
        <input name="expertise" placeholder="expertise">
        <input type="submit">
    </form>


    <!-- load javascript libraries -->
    <script src="/static/js/jquery-3.3.1.min.js"></script>
    <script src="/static/js/handlebars.min.js"></script>
    <!-- load project javascript -->
    <!-- note that you can add more modules if you wish -->
    <script src="/static/js/script.js"></script>

</body>
</html>