<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to Job|Board</title>
	<link href="https://fonts.googleapis.com/css?family=Grand+Hotel|Merriweather|Pacifico" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
	<nav>
	    <h1>
	        <a href="/"><span class="job_logo">Job | </span><span class="board_logo">Board</span></a>
	    </h1>
	    <ul>
	        <a href="/">Home</a>
	        <a href="/">Jobs</a>
	        <a href="/">About</a>
			<a href="/positions">Positions</a>
		    <a href="/applications">Applications</a>
	    </ul>
	</nav>
	<div id="container">
		<div id="centerer">
		    <div id="preview_cards">
				<h1>Available Jobs</h1>
			</div>
			<div id="content">
				<div class="card" id="applyCard">
				    <form action="/apply" method="POST">
						<div class='closeBoxApply'><img src='static/img/close_32.png' id='closeBoxImg'/></div>
						<h1>Apply</h1>
						<input name="job_title" placeholder="Job Title" type="text" readonly="readonly">
				        <input name="first_name" placeholder="First Name" type="text">
				        <input name="last_name" placeholder="Last Name" type="text">
				        <input name="position_id" placeholder="Position ID" type="text" readonly="readonly">
				        <input name="years_experience" placeholder="Years Experience" type="text">
				        <input name="expertise" placeholder="Expertise" type="text">
				        <input type="submit" class="buttonBottomSubmerged">
				    </form>
				</div>
				<div id="contentCard" class="card"></div>
			</div>
		</div>
	</div>
	<p id="recog"><span class="job_logo">Job | </span><span class="board_logo">Board</span> created by <b>Bradley Kenny</b>, 2018</p>


	<!-- ===== TEMPLATES ===== -->

	<template id="preview_card_template">
		<div class='card' id='{{ id }}'>
			<div class='jobtitle'>{{ title }}</div>
			<div class='company'><img src='static/img/company.png/'>{{ company }}</div>
			<div class='location'><img src='static/img/location.png/'>{{ location }}</div>
			<div class='time'><img src='static/img/time.png/'>{{ created_at }}</div>
			<!-- <a class='buttonBottomSubmerged'>Read More</a>" -->
		</div>
	</template>

	<template id="main_card_template">
		<div class='jobtitle'>{{ title }}</div>
		<div class='closeBox'><img src='static/img/close_32.png' id='closeBoxImg'/></div>
		<div class='company'><img src='static/img/company.png/'>{{ company }}</div>
		{{#if company_url}}
		<div class='company_url'><img src='static/img/internet.png/'><a href='{{ company_url }}'>{{ splitURL company_url }}</a></div>
		{{/if}}
		<div class='location'><img src='static/img/location.png/'>{{ location }}</div>
		<div class='work_type'><img src='static/img/work.png/'>{{ type }}</div>
		<div class='time'><img src='static/img/time.png/'>{{ created_at }}</div>
		<div class='button applyBtn'>Apply</div>
		<hr>
		<img class="companyLogo" src="{{ company_logo }}"
		<div class='description'>{{{ description }}}</div>
		<hr>
		<div class='description'><b>Job ID</b>: {{ id }}</div>
		<a class='buttonBottomSubmerged applyBtn' id='{{ id }}'>Apply Now</a>
	</template>

	<!-- load project javascript -->
	<!-- note that you can add more modules if you wish -->
	<!-- load javascript libraries -->
	<script src="/static/js/jquery-3.3.1.min.js"></script>
	<script src="/static/js/handlebars.min.js"></script>

	<script src="/static/js/script.js"></script>
</body>
</html>
