<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Jobs!</title>
	<link href="https://fonts.googleapis.com/css?family=Grand+Hotel|Merriweather|Pacifico" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/style.css">

</head>
<body>
	<nav>
	    <h1>
	        <a href="/"><span class="job_logo">Job | </span><span class="board_logo">Board</span></a>
	    </h1>
	    <ul>
	        <a href="/">Home</a>
	        <a href="/all_positions">Jobs</a>
	        <a href="/about">About</a>
	    </ul>
	</nav>
	<div id="container">
	    <div id="content"></div>

	    <p>These are here just to let you test the back-end application
	    they should not stay in the final application.</p>
	    <p><a href="/positions">Positions as JSON</a></p>
	    <p><a href="/applications">Current Applications as JSON</a></p>

	    <p>Sample form for job application, use this as you see fit for
	    the final application.</p>
	    <form action="/apply" method="POST">
	        <input name="first_name" placeholder="First Name">
	        <input name="last_name" placeholder="Last Name">
	        <input name="position_id" placeholder="Position ID">
	        <input name="years_experience" placeholder="Years Experience">
	        <input name="expertise" placeholder="Expertise">
	        <input type="submit">
	    </form>


	    <!-- load javascript libraries -->
	    <script src="/static/js/jquery-3.3.1.min.js"></script>
	    <script src="/static/js/handlebars.min.js"></script>
	    <!-- load project javascript -->
	    <!-- note that you can add more modules if you wish -->
	    <script src="/static/js/script.js"></script>
	</div>
</body>
</html>
