
/* ======== COMMON ELEMENTS ======== */

html {
    background-color: #efefef;
    font-family: 'Arial';
}

body {
    width: 100%;
	margin: 0px;
    padding: 0px;
    padding-bottom: 60px;
}

p {
    margin: 0px 0px;
    /* text-align: center; */
}

a {
    color: #ed3d51;
    text-decoration: none;
}

hr {
	margin: 15px auto;
	border: 1px solid #cdcdcd;
}


/* ======== NAVIGATION BAR / LOGO ======== */

nav {
    background-color: #ed3d51;
    width: 100%;
    padding: 5px 0px;
    position: fixed;
    box-shadow: 0px 5px 20px rgba(0,0,0,0.5);
}

nav h1 {
    font-size: 36px;
    color: white;
    text-align: left;
    margin: 0px;
    margin-top: 2px;
    margin-left: 50px;
    padding: 0px;
	float: left;
    font-weight: normal;
    cursor: pointer;
    display: inline-block;
}

nav a {
	color: white;
	text-decoration: none;
}


.job_logo {
    font-family: 'Merriweather';
	font-size: 1em;
}

.board_logo {
    font-family: 'Grand Hotel';
    font-size: 1.4em;
	margin-right: 2px;
}

nav ul {
    float: left;
    margin: 25px 50px 25px 0px;
    display: inline;
}

nav ul a {
    padding: 10px 15px;
    margin-left: 8px;
    color: white;
    text-decoration: none;
    font-size: 14px;
	text-transform: uppercase;
}

nav ul a:hover {
    border-bottom: 2px solid white;
}


/* ======== MAIN ======== */

#container {
    width: 90%;
	margin-top: 120px;
    padding: 25px 5%;
    float: left;
}

#centerer {
	margin-left: auto;
	margin-right: auto;
}

#preview_cards {
	margin-left: 150px;
	width: 325px;
	float: left;
}

#content {
	margin-left: 100px;
	width: 450px;
	float: left;
}

.card {
    background-color: white;
    width: 100%;
    margin-bottom: 40px;
    padding: 25px;
    /* box-shadow: 0px 5px 10px rgba(0,0,0,0.5); */
    border-radius: 5px;
}

.jobtitle {
    font-weight: bold;
    color: #ed3d51;
    cursor: pointer;
	padding-bottom: 5px;
	display: inline-block;
}

.jobtitle:hover {
	color: #ba3040;
}

.company {
    font-weight: bold;
}

.company img, .location img, .time img, .user img {
    margin-right: 3px;
    margin-top: 5px;
    height: 12px;
}

.card div {
    margin: 0px auto;
}

.card .description {
    margin-top: 5px;
	text-align: left;
}

.card .button {
    margin-top: 15px;
    padding: 10px 7px;
	display: block;
	width: 100px;
    background-color: #ed3d51;
    outline: none;
    border: none;
	border-radius: 3px;
    font-size: 14px;
	text-align: center;
    color: #fff;
    cursor: pointer;
	text-transform: uppercase;
	transition: ease 0.2s;
}

.card .button:hover {
	color: #fff;
	box-shadow: 0px 0px 15px rgba(0,0,0,0.5);
}

.company img, .location img, .time img, .user img {
	margin-left: 3px;
	margin-right: 8px;
    margin-top: 5px;
    height: 12px;
}

.card p {
	margin: 10px auto;
}

.card ul {
	margin: 10px auto 15px;
}

.closeBox {
	float: right;
	display: inline;
}

.buttonBottomSubmerged {
	margin-top: 20px;
	margin-bottom: -25px;
	margin-left: -25px;
    padding: 15px 25px;
	display: block;
	width: 100%;
    background-color: silver;
    outline: none;
    border: none;
	border-radius: 0px 0px 5px 5px;
    font-size: 14px;
	text-align: center;
    color: #fff;
    cursor: pointer;
	text-transform: uppercase;
	transition: ease 0.2s;
}

.buttonBottomSubmerged:hover {
	background-color: #ed3d51;
}

#closeBoxImg {
	display: inline;
	width: 18px;
	cursor: pointer;
}

#preview_cards h1 {
	padding-left: 30px;
	padding-bottom: 10px;
	font-family: 'Merriweather';
}

#recog {
	padding-bottom: 0px;
	text-align: center;
    color: #565656;
}
